<!DOCTYPE html>
<html>
<head>
  <title>Friends</title>
</head>
<body>
  <h1> These are all my friends! </h1>
  {% for friend in all_friends: %}
  <p> Friend Number: {{friend['id']}} </p>
  <p> First Name: {{friend['first_name']}} </p>
  <p> Last Name: {{friend['last_name']}} </p>
  <p> Occupation: {{friend['occupation']}} </p>
  <hr>
  {% endfor %}
  <form action="/friends" method="post">
    <label for="first_name">First Name:<input type="text" name="first_name"></label>
    <label for="last_name">Last Name:<input type="text" name="last_name"></label>
    <label for="occupation">Occupation:<input type="text" name="occupation"></label>
    <input type="submit" value="Add">
  </form>
  <p> {{ one_friend }} </p>
  <p> {{update}} </p>
</body>
</html>
